.transactionHistory {
    margin: 0 auto ;
    width: 600px;
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    background-color: #d9e1ea;
    box-shadow: -4px 4px 10px 0 rgb(0 0 0 / 60%);
}

td {
    border: 1px solid grey;
    padding: 5px;

}

th {
    background-color: #7c9ff7;
    color: white;
    /* border: 1px solid white; */
    padding: 5px;

}

tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}